<div ng-app="sla" class="container">
    <h3>Real-Time Status</h3>
    <live-monitor config-id="0" buffer-size="5" template-url="/bower_components/osidenate-sla-web/dist/components/live-monitor/live-monitor.htm"></live-monitor>
    <live-monitor config-id="1" buffer-size="5" template-url="/bower_components/osidenate-sla-web/dist/components/live-monitor/live-monitor.htm"></live-monitor>
    <live-monitor config-id="2" buffer-size="5" template-url="/bower_components/osidenate-sla-web/dist/components/live-monitor/live-monitor.htm"></live-monitor>
    <live-monitor config-id="3" buffer-size="5" template-url="/bower_components/osidenate-sla-web/dist/components/live-monitor/live-monitor.htm"></live-monitor>
    <live-monitor config-id="4" buffer-size="5" template-url="/bower_components/osidenate-sla-web/dist/components/live-monitor/live-monitor.htm"></live-monitor>
</div>
