<div class="logo">
    <h1><a href="/">websocks</a></h1>
</div>
<hr>
<p>I'm <strong>Nathan Nelson</strong>, a software developer working at <a href="http://www.pearsoned.com/">Pearson</a>.</p>
<p>This site is a place for me to show off some of the projects I'm working on.</p>
<hr>
<ul class="contact">
    <li>
        <a href="mailto:osidenate@gmail.com">
            <span class="navicon glyphicon glyphicon-envelope"></span>
            osidenate@gmail.com
        </a>
    </li>
    <li>
        <a href="https://github.com/osidenate">
            <span class="navicon navicon-github"></span>
            GitHub
        </a>
    </li>
    <li>
        <a href="https://stackoverflow.com/users/477442/nathan">
            <span class="navicon navicon-so"></span>
            StackOverflow
        </a>
    </li>
    <li>
        <a href="https://www.linkedin.com/pub/nathan-nelson/1b/878/744">
            <span class="navicon navicon-linkedin"></span>
            LinkedIn
        </a>
    </li>
</ul>
