<div class="logo">
    <h1><a href="/">websocks</a></h1>
</div>
<hr>
<p class="vcard">
    I'm <strong class="fn">Nathan Nelson</strong>, a software engineer working at <a class="org" href="http://www.pearsoned.com/">Pearson</a> in Chandler, AZ.
</p>
<hr class="hidden-xs">
<ul class="contact">
    <li class="mail">
        <a href="mailto:nathan@websocks.net">
            <span class="navicon glyphicon glyphicon-envelope hidden-xs" title="E-Mail"></span>
            <span>nathan@websocks.net</span>
        </a>
    </li>
    <li>
        <a href="https://github.com/osidenate">
            <span class="navicon navicon-github" title="GitHub"></span>
            <span class="hidden-xs">GitHub</span>
        </a>
    </li>
    <li>
        <a href="https://stackoverflow.com/users/477442/nathan">
            <span class="navicon navicon-so" title="Stack Overflow"></span>
            <span class="hidden-xs">Stack Overflow</span>
        </a>
    </li>
    <li>
        <a href="https://www.linkedin.com/pub/nathan-nelson/1b/878/744">
            <span class="navicon navicon-linkedin" title="LinkedIn"></span>
            <span class="hidden-xs">LinkedIn</span>
        </a>
    </li>
</ul>
<hr class="visible-xs-block">
