html {
  background: url('../img/dots.png') repeat;
}

.container {
  margin-top: 30px;
  background: #fff;
}

nav {
  .logo {
    text-align: center;

    h1 {
      font-family: 'Play', 'Courier', monospace;
      line-height: 80px;
      color: #20569E;
      font-size: 2.5em;
      margin-bottom: 0;
    }
  }

  hr {
    border-top: 1px dotted #ddd;
  }

  p {
    margin-top: 15px;
  }
}