@media (min-width: 768px) {
  html {
    background: url('../img/dots.png') repeat;
  }

  body.container {
    margin-top: 15px;
    padding-top: 10px;
    background: #fff;
  }
}

body.container {
  margin-bottom: 25px;
}

main {
  background: #fff;
}
