.project {
  .nav {
    margin-left: 0;
  }

  .tab-content {
    margin-top: 15px;
  }

  .back-link {
    float: right;
    font-size: 0.8em;

    .glyphicon {
      font-size: 0.9em;
      margin-right: 5px;
    }
  }
}
