<!DOCTYPE html>
<html>

    {% include head.html %}

    <body class="container">
        <div class="row">
            <nav class="col-sm-4">
                {% include nav.html %}
            </nav>

            <main class="col-sm-8">
                {{ content }}
            </main>
        </div>

        <script src="/bower_components/jquery/dist/jquery.js"></script>
        <script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
        <script src="/bower_components/webcomponentsjs/webcomponents.js"></script>
    </body>
</html>
