---
layout: default
---

<div class="project">
    <a class="back-link" href="/">
        <span class="glyphicon glyphicon-chevron-left"></span>Back Home
    </a>

    <h2>{{ page.title }}</h2>

    <p>GitHub: <a href="{{ page.gitHubUrl }}">{{ page.gitHubUrl }}</a></p>

    <ul class="nav nav-tabs">
        <li role="presentation" class="active">
            <a href="#overview"
               aria-controls="overview"
               role="tab"
               data-toggle="tab">Overview</a>
        </li>

        {% if page.screenshotBundle %}
        <li role="presentation">
            <a href="#screenshots"
                aria-controls="screenshots"
                role="tab"
                data-toggle="tab">Screenshots</a>
        </li>
        {% endif %}

        {% if page.demoHtml %}
        <li role="presentation">
            <a href="#demo"
               aria-controls="demo"
               role="tab"
               data-toggle="tab">Demo</a>
        </li>
        {% endif %}
    </ul>

    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="overview">
            {{ content }}
        </div>

        {% if page.screenshotBundle %}
        <div role="tabpanel" class="tab-pane" id="screenshots">
            {% for url in page.screenshotBundle %}
            <img src="{{ url }}" alt="Screenshot">
            {% endfor %}
        </div>
        {% endif %}

        {% if page.demoHtml %}
        <div role="tabpanel" class="tab-pane" id="demo">
            {% include {{ page.demoHtml }} %}
        </div>
        {% endif %}

    </div>
</div>
